.header {
    background: #FFFFFF;
    height: 96px;
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1185px;
    margin: 0 auto;
}

.header-logo img {
    width: 173px;
    height: 50px;
}

.header-picklist {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 10px;
}

.header .button {
    max-width: 180px;
    margin-left: 100px;
}

.icon-globe {
    width: 24px;
    height: 24px;
    background: url(../img/Vector.svg) no-repeat center;
}

.icon-arrow {
    width: 12px;
    height: 7px;
    background: url(../img/Vector\(1\).svg) no-repeat center;
    cursor: pointer;
}

.header-menu p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #1A1A1A;
}
