/* start-now */
.start-now {
    display: flex;
    justify-content: space-between;
    max-height: 741px;
    background-color: #000000;
}

.container-text {
    max-width: 573px;
    margin: 127px 59px 126px 261px;
}

.start-now-title {
    font-weight: 800;
    font-size: 54px;
    color: #FFFFFF;
    margin-bottom: 29px;
}

.start-now-subtitle {
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 61px;
}

.start-now .button {
    width: 300px;
    height: 70px;
    border: 1px solid;
    font-size: 20px;
}

.container-pic img {
    width: 1060px;
    height: 741px;
}

/* categories */

.dots-decoration { 
    position: absolute;
    left: -142px;
    top: 23px;
}

.dots-orange {
    position: absolute;
    left: 1300px;
    top: 150px;
}
.container-categories {
    margin: 0 auto;
    max-width: 1220px;
    position: relative;
}

.objects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.box {
    width: 220px;
    height: 220px;
    border: 2px solid #F6F6F6;
    border-radius: 20px;
    background: #E5E5E5;;
    text-align: center;
    padding: 50px;
}

.box.collapsed img {
    display: none;
}

.box img {
    width: 59px;
    height: 60px;
    margin-bottom: 35px;
}

.box p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #1A1A1A;
}

.box:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    text-decoration: underline;
}

.what-else {
    display: flex;
    margin: 0 auto;
    max-width: 74px;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.what-else h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #1A1A1A;
}

.our-advantages .title {
    margin-bottom: 80px;
}

.advantage-container {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 40px;
    justify-content: center;
    max-width: 1463px;
    margin: 0 auto;
    margin-bottom: 75px;
}

.advantage-second {
    display: flex;
    justify-content: space-between;
    max-width: 1093px;
    margin: 0 auto;
    
}

.advantage img{
    border-radius: 30px;
    margin-bottom: 21px;
}

.advantage p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #12161A;
    text-align: center;
    
}

.do-it {
     background: linear-gradient(84.96deg, #FF9E29 1.16%, #FEC141 99.1%);
     position: relative;
}

.head-doit {
    max-width: 504px;
    margin: 0 auto;
    padding-top: 128px;
    
    
}

.head-doit h1 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 54px;
    text-align: center;
    color: #000000;
    margin-bottom: 27px;
}

.head-doit p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #000000;
    margin-bottom: 44px;
}
.booking {
    max-width: 300px;
    margin: 0 auto;
    
}
.booking-btn {
    width: 300px;
    height: 70px;
    background: #1A1A1A;
    border: 1px solid  #1A1A1A;
    border-radius: 50px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 144px;
    cursor: pointer;
    
}

.vector-decoration {
    position: absolute;
    bottom: 0px;
}

.ellips-decoration {
    position: absolute;
    top: 0px;
    right: 0px;
}

.ellips2-decoration {
    position: absolute;
    right: 0;
}

.head-feedback {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 946px;
    padding-top: 171px;
    
}

.head-feedback h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 80px;
    color: #4D4D4D;
    margin-bottom: 75px;
}

.head-feedback h2:hover {
    color: #1A1A1A;
    cursor: pointer;
}

.vector_decor {
    position: absolute;
    left: -350px;
    top: 10px;
}

.container-top-categories {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1220px;
    margin-bottom: 195px;
}

.container-top-categories .arrow.right {
    right: -85px;
}

.container-top-categories .arrow.left {
    left: -85px;
}

.become-profi {
    display: flex;
    justify-content: space-between;
    max-height: 660px;
    background-color: #000000;
}

.become-profi-title {
    font-weight: 800;
    font-size: 54px;
    line-height: 65px;
    color: #FFFFFF;
    margin-bottom: 29px;
}

.become-profi-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 61px;
}

.profi-container{
    max-width: 507px;
    margin: 164px 100px 163px 262px;
}

.container-picture {
    width: 1054px;
    height: 703px;
}

.become-profi .button {
    width: 300px;
    height: 70px;
    border: 1px solid;
    font-size: 20px;
}