* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.title {
    font-size: 2rem;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}