.slider {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
    position: relative;
}

.slider .slider-item {
    width: 132px;
    height: 132px;
    padding: 10px;
    border-radius: 50%;
    border: 3px solid #FD9422;
    margin-top: 35px;
    margin-right: 40px;
}

.slider .slider-item .slider-item-photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.slide-active {
    position: relative;
    display: flex;
    width: 680px;
    height: 346px;
    padding: 63px 40px;
    background: #FFFFFF;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.slide-active .slider-content .slider-title {
    margin-bottom: 15px;
    font-size: 18px;
}

.slide-active .slider-content .date {
    margin-left: 15px;
    font-weight: 500;
    font-size: 14px;
    color: #999999;
}

.slide-active .slider-content .stars {
    margin-bottom: 20px;
}

.slide-active .slider-item {
    flex: 0 0 132px;
}

.student-feedback h1 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #1A1A1A;
    margin-bottom: 16px;
}

.student-feedback p {
    width: 363px;
    height: 187px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
}

.students img {
    border-radius: 100px;
}

.arrow {
    top: 50%;
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 4px solid #F6F6F6;
    border-radius: 50%;
    background-color: #FFFFFF;
    z-index: 1;
    transform: translateY(-50%);
    cursor: pointer;
}

.arrow.left {
    left: -25px;
}

.arrow.right {
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
}

.arrow:hover {
    border: 0;
    background: linear-gradient(270deg, #FD9422 0%, #FEC141 100%);
}

.arrow svg {
    margin: auto;
    fill: #FD9422;
}

.arrow:hover svg {
    fill: #FFFFFF;
}

.around_img1 {
    position: absolute;
    left: -10px;
    top: 105px;
}

.around_img2 {
    position: absolute;
    left: 150px;
    top: 105px;
}

.around_img3 {
    position: absolute;
    right: 220px;
    top: 105px;
}

.around_img4 {
    position: absolute;
    right: 60px;
    top: 105px;
}

.around_img5 {
    position: absolute;
    left: 305px;
    top: 80px;
}